* {
    margin: auto;
    padding: 0;
    position: relative;
  }
}
@media screen and(min-width: 400px){
  body{
    background-color: black;
    }
  }

@media screen and (min-width: 768px) {
      body {

      }
    }
@media screen and(min-width: 992px){
        body{
      
          }
}

  .body{
   
    color: white;
    font-family: 'Baloo Tammudu 2';
    width:100%;
    min-width:1000px;
    height:auto;
  }
/* ABOUT ME CSS */
  .main-container{
      min-height: 100%;
      padding-top: 30px;
  }
  .main_row{
    font-family: 'Roboto Slab', serif;
    
  }

  .main_picture {
    display: flex;
    justify-items: center;
    align-items: center;
    float: left;
    border-radius: 8.5rem;
  }
  
  .about-me-text{
    display: flex;
    justify-items: center;
    align-items: center;
    float: right;
    font-family: 'Roboto Slab', serif;
    ;

  }
 

  /* PORTFOLIO CSS */

#pic{
  display: flex;
  justify-items: center;
  align-items: center;
  float: left;
  padding-bottom: 10px;
  width: fit-content;
  height: fit-content;
  
 
}
#indi{
  padding-top: 40px;
  padding-bottom: 20px;
  width: fit-content;
  height: fit-content;
  background-color: coral;
}
/* #back_con{
  background-color: coral;
}
#about{
  background-color: coral;
  padding-bottom: 20px;
  padding-top: 20px;
} */

/* Contact Us  */
.form-group{
  float: center;
}
  /* Footer */
  .footer{
    align-items: center;
    background-color: black;
    color: white;

  }